@import url('https://fonts.googleapis.com/css?family=Bangers');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic');

bg-color    = #323c41
card-width  = 350px
card-height = 500px
myblue      = #9CC9E3
myyellow    = #D0BB57
myyellower  = #f0dB77
txt-color   = #DCE3E7
mygrey      = #35495e

